*.DS_Store
.idea/*
.metadata/*
log/*.log
log/*.txt
tmp/*
db/structure.sql
public/system
public/stylesheets
coverage/*
coverage.data
rerun.txt
public/stylesheets/*.css
public/stylesheets/bootstrap/*.css
public/stylesheets/admin/*.css
!public/stylesheets/vendor/*.css
*.swp
*.rdb
.emacs.desktop
.emacs.desktop.lock
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.vagrant
.project
.bundle/install.log
specs/temp/*
.sass-cache
bin/stanford-core-nlp-minimal
db/data/temp/*.json
.pid
temp/content/*
node_modules